[submodule "machine-learning"]
	path = machine-learning (Private)
	url = https://github.com/patrikkj/machine-learning.git
	branch = master
[submodule "probabilistic-graphical-models"]
	path = probabilistic-graphical-models (Private)
	url = https://github.com/patrikkj/probabilistic-graphical-models.git
	branch = master
[submodule "deep-learning-specialization"]
	path = deep-learning-specialization (Private)
	url = https://github.com/patrikkj/deep-learning-specialization.git
	branch = master
[submodule "tensorflow-in-practice"]
	path = tensorflow-in-practice (Private)
	url = https://github.com/patrikkj/tensorflow-in-practice.git
	branch = master
